#header {
    text-align: center;
    color: #fdfdfd;
    padding: 5px 0 20px;
    background: linear-gradient(to left, #1f7a85, #22b5cc);
    border-bottom: 1px solid #ddd;
    margin: 0 -15px;
}
  
#title {
    font-size: 4em;
    text-shadow: 0 0 5px #000;
}
  
#subtitle {
    font-size: 1em;
    margin-top: -5px;
    text-shadow: 0 0 1px rgb(0, 0, 0);
}

#distribucion {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}


.panel {
    padding: 20px;
    height: 210px;
    margin-bottom: 10px;
    margin-top: -132px;
    margin-left: -15px;
    margin-right: -15px;
    background: linear-gradient(to left, #81b7bd, #a3d6ec);
    border: 3px solid #e3e3e3;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    display:flex;
    justify-content: flex-end;
    flex-direction: column;
}

#panel_principal {
    margin-top: 0px;
    margin-bottom: 5px;
    margin-left: 0px;
}

.linea_vertical {
    border-left: 1px solid rgb(233, 241, 233);
    height: 110px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 212px;
}

#footer {
    display:flex;
    align-items:center;
    background: linear-gradient(to left, #1f7a85, #22b5cc);
    font-size: 15px;
    color: #fdfdfd;
    border-bottom: 1px solid #ddd;
    margin: 0 -15px;
}

#autores {
    display:flex;
    justify-content: flex-end;
    align-items:right;
    flex-direction: row;
}

/* CELULAR */

@media only screen and (max-width: 768px) {

    .panel {
        padding-top: 70px;
        height: auto;
        display:list-item;
    }

    #opciones{
        margin: auto;
        width: 80%;
        padding-left: 3%;
    }

    .linea_vertical {
        height: 0px;
    }
}

/* LAPTOP */

@media only screen and (min-width: 769px) and (max-width: 1400px) {

    .panel {
        display:flex;
        height: auto;
        padding-top: 70px;
    }

    .linea_vertical {
        height: 130px;
    }
}